<div class="content" style="width:100%; height:100%;" ng-controller="ChatCtrl">
	<div class="top_block header">
		<div class="content">
        	<div style="float:left;">
        		<img alt="Avatar" width="50px" height="50px" ng-src="{{user.picture}}"/> {{user.name}}
        	</div>
        	<div ng-controller="LoginCtrl" style="float:right;">
        		<span id="signin">
			    	<span id="myGsignin"></span>
			    </span>
        		<form ng-submit="logout(user)">
	            	<input type="button" class="btn btn-primary" id="submit" value="Sair" ng-click="logout(user)" />
        		</form>
        	</div>
		</div>
	</div>
	
	<div class="background left">
	</div>
	
	<div class="left_block left">
		<div class="left_top">Usu&aacute;rios Online</div>
		<div class="content" ng-repeat="other in users">
        	<span style="float:left;"> 
        		<img alt="Avatar" width="5px" height="5px" ng-src="{{other.picture}}"/> {{other.name}}
        	</span>
		</div>
	</div>
	
	<div class="center_block chat">
		<div ng-class="content msg" ng-repeat="msg in msgs | limitTo:-4">
			<div ng-class="msg.erro ? 'erro' : ''">
		        <div>{{msg.time}}<br/>
		            <strong>{{msg.user}} says: </strong>{{msg.text}}<br/>
		        </div>
	        </div>
        </div>
	</div>
	
	<div class="bottom_block footer">
		<div class="content">
	        <form ng-submit="submitMsg()">
	            <input type="text" name="chat" id="textField" ng-model="inputText" maxlength="1000"
	             placeholder="Envie sua mensagem" class="ng-pristine ng-valid input-block-level" />
	            <input type="button" class="btn btn-primary" id="saySomething" value="Enviar" ng-click="submitMsg()" />
	        </form>
		</div>
	</div>
</div>