<div class="content" style="width:100%; height:100%;" ng-controller="ChatCtrl">
	<div class="top_block header">
		<div class="content">
        	<div style="float:left;">
        		<img alt="Avatar" width="50px" height="50px" ng-src="{{user.picture}}"/> {{user.name}}
        	</div>
        	<div style="float:right;">
        		<span id="signin">
			    	<span id="myGsignin"></span>
			    </span>
        		<form ng-submit="logout()">
	            	<input type="button" class="btn btn-primary" id="submit" value="Sair" ng-click="logout()" />
        		</form>
        	</div>
		</div>
	</div>
	
	<div class="background left">
	</div>
	
	<div class="left_block left">
		<div class="left_top">Usu&aacute;rios Online</div>
		<div class="content" ng-repeat="other in users | orderBy:'name'">
        	<span style="float:left;"> 
        		<img alt="Avatar" width="30px" height="30px" ng-src="{{other.picture}}"/> {{other.name}}
        	</span>
		</div>
	</div>
	
	<div class="center_block chat" id="chatBox">
		<div id="msgBox" class="content msg" ng-repeat="msg in msgs">
			<div ng-class="msg.info ? 'info' : ''">
		        <div>{{msg.time | date:'dd/MM/yyyy hh:mm:ss'}}<br/>
		            <strong>{{msg.user}} diz: </strong>{{msg.text}}<br/>
		        </div>
	        </div>
        </div>
	</div>
	
	<div class="bottom_block footer">
		<div class="content">
	        <form name="msgForm" ng-submit="submitMsg()">
	        	<div class="alert alert-warning" ng-show="msgError">
	        		<p ng-click="fechaMsgError()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Aviso</strong> {{msgError}}
				</div>
	            <input type="text" name="chat" id="textField" ng-model="inputText" maxlength="1000"
	             placeholder="Envie sua mensagem" class="ng-pristine ng-valid input-block-level" />
	            <input type="button" height="10px" class="btn btn-primary" id="saySomething" value="Enviar" ng-click="submitMsg()" />
	        </form>
		</div>
	</div>
</div>