<div class="content" style="width:100%; height:100%;" ng-controller="LoginCtrl" >
	<div class="top_block header">
		<div class="content">
        	<div style="float:left;">
        	
        	</div>
        	<div style="float:right;">
        		<span id="signin">
			    	<span id="myGsignin"></span>
			    </span>
        	</div>
		</div>
	</div>
	
	<div class="background left">
	</div>
	
	<div class="left_block left">
		<div class="left_top"></div>
		<div class="content">
        	<span style="float:left;"> 
        		
        	</span>
		</div>
	</div>
	
	<div class="center_block chat">
		<div class="content msg" >
			<div ng-class="">
		        <div>
		        </div>
	        </div>
        </div>
	</div>
	
	<div class="bottom_block footer">
		<div class="content">
		</div>
	</div>
</div>