html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
}

.content {
	width:100%;
	position: relative;
	overflow-y: auto;
	z-index: 0; 
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block; 
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0; 
}

.left_block {
	display: block;
	float: left; 
	z-index:1;
	height:500px;
  	overflow-y:auto;
}

.right_block {
	display: block;
	float: right; 
}

.center_block {
	display: block;
	width: auto; 
	height: 550px;
}

.header {
	width: 100%;
	height: 70px;
	background-color: #9999ff;
    font-weight: bold;
    padding: 10px;
}

.left_top {
    font-weight: bold;
    padding: 10px;
    background: #898989; 
}

.background.left {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 220px;
	background-color: #d2ced6;
	margin-top: 70px;
	margin-bottom: 70px; 
	display: block;
}

.left {
	height: 500px;
	width: 220px;
	display: block;
}

.footer {
	width: 100%;
	height: 70px;
	background-color: #999999;
}

.chat {
	display: block;
	width: auto;
	height: 430px;
  	overflow-y:scroll;
}

#textField {
  width: 94%;
  position: relative;
  height:35px;
}

.msg {
  width: auto;
  background: #FFFFFF;
  overflow:auto;
}

.info {
  width: auto;
  background: #ff8080;
  overflow:auto;
}

#chat {
  min-height: 200px;
  right: 10px;
  left: 30px;
  background: #AAA;
  width: 100%;
  position:relative;
  overflow:auto;
}

#msgForm {
  width: 100%;
}

.erro {
	background: #FF2424;
}