html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
}

.content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block; 
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0; 
}

.left_block {
	display: block;
	float: left; 
	z-index:1;
}

.right_block {
	display: block;
	float: right; 
}

.center_block {
	display: block;
	width: auto; 
}

.header {
	width: 100%;
	height: 70px;
	background-color: #9999ff;
    font-weight: bold;
    padding: 10px;
}

.left_top {
    font-weight: bold;
    padding: 10px;
}

.background.left {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 220px;
	background-color: #d2ced6;
	margin-top: 70px;
	margin-bottom: 70px; 
}

.left {
	height: auto;
	width: 220px;
	padding-bottom: 70px;
}

.footer {
	width: 100%;
	height: 70px;
	background-color: #999999;
}

.chat {
	display: block;
	width: auto;
	height: 200;
}

#userField {
  width: 210px;
  position: relative;
  top: 1px;
}

.msg {
  width: auto;
  background: #FF9966;
}

#chat {
  min-height: 200px;
  right: 10px;
  left: 30px;
  background: #AAA;
  width: 420px;
  position:relative;
}

/* body {
  font-family: helvetica;
  color: #333;
  background: #CCC;
}

#chat {
  min-height: 200px;
  right: 10px;
  left: 30px;
  background: #AAA;
  width: 420px;
  position:relative;
}

#left {
	width: 80px;
	height:200px;
	overflow-y:auto;
	overflow-x: none;
	position:relative;
}

.msg {
  padding: 10px;
  width: 480px;
  background: #FF9966;
}

.others {
  background: #99D8FF;
}

#textField {
  width: 400px;
  position: relative;
  top: 4px;
}

#userField {
  width: 210px;
  position: relative;
  top: 1px;
}

#header {
  color: #EEE;
  width: 480px;
  height: 34px;
  font-weight: bold;
  padding: 10px;
  background: #666;
}

#footer {
  color: #EEE;
  width: 480px;
  height: 34px;
  font-weight: bold;
  padding: 10px;
  background: #666;
}

.undo {
  padding: 20px 0;
} */